<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="INSTALL_ROOT" Name="Jujo.Stream Server">
                    <Directory Id="CM_DP_Unspecified.assets" Name="assets"/>
                    <Directory Id="CM_DP_application.tools" Name="tools"/>
                    <Directory Id="CM_DP_assets.assets" Name="assets">
                        <Directory Id="CM_DP_assets.assets.shaders" Name="shaders">
                            <Directory Id="CM_DP_assets.assets.shaders.directx" Name="directx">
                                <Directory Id="CM_DP_assets.assets.shaders.directx.include" Name="include"/>
                            </Directory>
                        </Directory>
                    </Directory>
                    <Directory Id="CM_DP_assets.plugins" Name="plugins">
                        <Directory Id="CM_DP_assets.plugins.playnite" Name="playnite">
                            <Directory Id="CM_DP_assets.plugins.playnite.SunshinePlaynite" Name="SunshinePlaynite"/>
                        </Directory>
                    </Directory>
                    <Directory Id="CM_DP_assets.scripts" Name="scripts"/>
                    <Directory Id="CM_DP_audio.tools" Name="tools"/>
                    <Directory Id="CM_DP_autostart.scripts" Name="scripts"/>
                    <Directory Id="CM_DP_dxgi.tools" Name="tools"/>
                    <Directory Id="CM_DP_firewall.scripts" Name="scripts"/>
                    <Directory Id="CM_DP_sudovda.drivers" Name="drivers">
                        <Directory Id="CM_DP_sudovda.drivers.sudovda" Name="sudovda"/>
                    </Directory>
                    <Directory Id="CM_DP_vbcable.drivers" Name="drivers">
                        <Directory Id="CM_DP_vbcable.drivers.vbcable" Name="vbcable"/>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
</Wix>